header {
    display: flex;
    border-bottom: 1px white solid;
    background-color: var(--darkblue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

h1 {
    font-size: 20px;
    margin: 35px 0 10px 26px;
}