<section>

<div class="fade-animation" *ngIf="urgentTasks | async ; else emptyToDoList">

    <!-- Tâches urgentes -->
    <p *ngIf="urgentTasks | async">⚠️ Tâches urgentes</p>
    <ul>
            <li *ngFor="let task of urgentTasks | async">
                <button (click)="setTaskAsDone(task)"></button>
                <a routerLink="/update-task/{{task.id}}">
                    {{task.category! | categoryEmoji}}
                    {{task.content}}
                </a>
            </li>
    </ul>

    <!-- Tâches non-urgentes -->
    <p *ngIf="nonUrgentTasks | async">🌸 Autres tâches</p>
    <ul>
            <li *ngFor="let task of nonUrgentTasks | async">
                <button (click)="setTaskAsDone(task)"></button>
                <a routerLink="/update-task/{{task.id}}">
                    {{task.category! | categoryEmoji}}
                    {{task.content}}
                </a>
            </li>
    </ul>

</div>

<ng-template #emptyToDoList >

    <div class="empty-home">
        <p>Aucune tâche pour le moment 🙌</p>
        <a class="blue-button" routerLink="/new-task">Créer une tâche</a>
    </div>

</ng-template>

</section>
