<section>

<div class="fade-animation" *ngIf="urgentTasks && urgentTasks.length > 0 ; else emptyToDoList">

    <!-- Tâches urgentes -->
    <p *ngIf="urgentTasks && urgentTasks.length > 0">⚠️ Tâches urgentes</p>
    <ul>
        <ng-container *ngFor="let task of urgentTasks">
            <li *ngIf="urgentTasks && urgentTasks.length > 0 && task.isUrgent">
                <button (click)="setTaskAsDone(task)"></button>
                <a routerLink="/update-task/{{task.id}}">
                    {{task.category! | categoryEmoji}}
                    {{task.content}}
                </a>
            </li>
        </ng-container>
    </ul>

    <!-- Tâches non-urgentes -->
    <p *ngIf="nonUrgentTasks && nonUrgentTasks.length > 0">🌸 Autres tâches</p>
    <ul>
        <ng-container *ngFor="let task of nonUrgentTasks">
            <li *ngIf="nonUrgentTasks && nonUrgentTasks.length > 0 && !task.isUrgent">
                <button (click)="setTaskAsDone(task)"></button>
                <a routerLink="/update-task/{{task.id}}">
                    {{task.category! | categoryEmoji}}
                    {{task.content}}
                </a>
            </li>
        </ng-container>
    </ul>

</div>

<ng-template #emptyToDoList >

    <div class="empty-home">
        <p>Aucune tâche pour le moment 🙌</p>
        <a class="blue-button" routerLink="/new-task">Créer une tâche</a>
    </div>

</ng-template>

</section>
